@using Models;
@{
    ViewData["Title"] = "Listado de Actividad Empresa";
    //var mensajeAgregado = TempData["mensajeAgregado"] as string;
    //var mensajeAdvertenciaAgregar = TempData["mensajeAdvertenciaAgregar"] as string;
    //var mensajeActualizado = TempData["mensajeActualizado"] as string;
    //var mensajeAdvertencia = TempData["mensajeAdvertencia"] as string;
    //var mensajeEliminado = TempData["mensajeEliminado"] as string;
}

@model List<ActividadEmpresa>

<div class="card p-0">
    <div class="card-header">
        <div class="row">

            <div class="col col-6">
                <h4 class="card-title mt-1">
                    <i class="fa-solid fa-list-check"></i>&nbsp;
                    Lista de Actividad Empresa
                </h4>
            </div>

            <div class="col col-6 text-end">
                <a class="nav-link text-dark" asp-area="" asp-controller="ActividadEmpresa" asp-action="Add">
                    <button type="button" class="btn btn-primary">
                        <i class="fa-solid fa-plus"></i>
                        Agregar Actividad Empresa
                    </button>
                </a>
            </div>

        </div>
    </div>
    <div class="card-body py-1">
        <div class="table-responsive" style="height:600px;overflow-x: auto;">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count > 0)
                    {
                        @foreach (var actividadEmpresa in Model)
                        {
                            <tr>
                                <th scope="row">@actividadEmpresa.IdActividadEmpresa</th>
                                <td scope="row">@actividadEmpresa.Descripcion</td>

                                <td class="text-center">
                                    <a asp-action="Edit" asp-route-id="@actividadEmpresa.IdActividadEmpresa"><i class="fas fa-edit"></i></a>
                                    &nbsp;
                                    <a asp-action="Delete" asp-route-id="@actividadEmpresa.IdActividadEmpresa" onclick="return confirm('¿Estás seguro de que deseas eliminar la actividad empresa?')"><i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="9">No se encontraron actividades de empresa.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
@*@if (!string.IsNullOrEmpty(mensajeAgregado))
{
    <div id="mensajeAgregado" class="alert alert-success" role="alert">
        @mensajeAgregado
    </div>
}

@if (!string.IsNullOrEmpty(mensajeAdvertenciaAgregar))
{
    <div id="mensajeAdvertenciaAgregar" class="alert alert-warning" role="alert">
        @mensajeAdvertenciaAgregar
    </div>
}

@if (!string.IsNullOrEmpty(mensajeActualizado))
{
    <div id="mensajeActualizado" class="alert alert-success" role="alert">
        @mensajeActualizado
    </div>
}

@if (!string.IsNullOrEmpty(mensajeAdvertencia))
{
    <div id="mensajeAdvertencia" class="alert alert-warning" role="alert">
        @mensajeAdvertencia
    </div>
}

@if (!string.IsNullOrEmpty(mensajeEliminado))
{
    <div id="mensajeEliminado" class="alert alert-success" role="alert">
        @mensajeEliminado
    </div>*@
}

@section Scripts {
@*    <script>
        setTimeout(function () {
            var mensajeAgregado = document.getElementById("mensajeAgregado");
            if (mensajeAgregado) {
                mensajeAgregado.style.display = "none";
            }

            var mensajeAdvertenciaAgregar = document.getElementById("mensajeAdvertenciaAgregar");
            if (mensajeAdvertenciaAgregar) {
                mensajeAdvertenciaAgregar.style.display = "none";
            }

            var mensajeActualizado = document.getElementById("mensajeActualizado");
            if (mensajeActualizado) {
                mensajeActualizado.style.display = "none";
            }

            var mensajeAdvertencia = document.getElementById("mensajeAdvertencia");
            if (mensajeAdvertencia) {
                mensajeAdvertencia.style.display = "none";
            }

            var mensajeEliminado = document.getElementById("mensajeEliminado");
            if (mensajeEliminado) {
                mensajeEliminado.style.display = "none";
            }
        }, 3000);
    </script>*@
}